
{{question.author}} Says, {{question.newQuestion}} On {{question.date}}
  {{#if isEditShowing}}
  <form>
    <div class="container">
      <label for="author">Author:</label>
      {{input value=author id="author" class="form-control"}}
    </div>
    <div class="container">
      <label for="newQuestion">Question:</label>
      {{input value=newQuestion id="newQuestion" class="form-control"}}
    </div>
    <div class="container">
      <label for="body">Details:</label>
      {{input value=body id="body" class="form-control"}}
    </div>
    <div class="container">
      <button {{action 'update' question}}>Save</button>
      <button {{action 'delete' question}}>Delete</button>
      <button {{action 'editHide'}}>Hide</button>
    </div>
  </form>
{{else}}
<button {{action 'editShow'}}>Edit</button>
{{/if}}
