{{#if isShowMoreShowing}}
{{question.body}}
{{new-answer question=question sendAnswer="sendAnswer"}}
{{#each question.answers as |answer|}}
<h4>{{answer.author}} says {{answer.body}}</h4>
{{/each}}
<button {{action 'showMoreHide'}}>Hide</button>
{{else}}
<button {{action 'showMoreShow'}}>Show More</button>
{{/if}}
